@import 'tailwindcss';

@theme {
  --color-ocean-50: #eff8ff;
  --color-ocean-100: #dbeefe;
  --color-ocean-200: #bfe3fd;
  --color-ocean-300: #93d1fc;
  --color-ocean-400: #60b5f8;
  --color-ocean-500: #3b96f3;
  --color-ocean-600: #2578e8;
  --color-ocean-700: #1d63d5;
  --color-ocean-800: #1e50ac;
  --color-ocean-900: #1e4688;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f8fafc;
}
